@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Matt Corbett Fan Club";
    ViewData["Fav"] = "Heyo";
}

@model gradeCalcModel;

<h2>Grade Calculator</h2>
<form method="post">
    <!---Input form with javascript to prevent input over 100 and under 0--->
    <label>Assignments: </label>
    <input id="assign" 
    oninput="javascript: if (this.value > this.maxLength) this.value = this.value = 100; javascript: if (this.value < this.min) this.value = this.value = 0; "               
    type = "number"
    maxlength = "100"
    asp-for="assign"
    min = "0"/><br />

    <label>Group Project:</label>
    <input id="gp" 
    type="number"
    oninput="javascript: if (this.value > this.maxLength) this.value = this.value = 100; javascript: if (this.value < this.min) this.value = this.value = 0; "
    maxlength="100"
    asp-for="gp"
    min="0" /><br />


    <label>Quizzes:      </label>
    <input id="qz"
    type="number" 
    oninput="javascript: if (this.value > this.maxLength) this.value = this.value = 100; javascript: if (this.value < this.min) this.value = this.value = 0; "
    maxlength="100"
    asp-for="qz"
    min="0" /><br />

    <label>Exams:        </label>
    <input id="ex" 
    type="number" 
    oninput="javascript: if (this.value > this.maxLength) this.value = this.value = 100; javascript: if (this.value < this.min) this.value = this.value = 0; "
    maxlength="100"
    asp-for="ex"
    min="0" /><br />

    <label>Intex:        </label>
    <input id="intx" 
    type="number" 
    oninput="javascript: if (this.value > this.maxLength) this.value = this.value = 100; javascript: if (this.value < this.min) this.value = this.value = 0; "
    maxlength = "100"
    asp-for="intx"
    min = "0"/><br />
    <br />

    <!-- Submit Button -->
    <input type="submit" value="Calculate Grade" id="gradefinal" class="btn btn-primary" />
    <div asp-validation-summary="All"></div>
</form>

