@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Matt Corbett Fan Club";
    ViewData["Fav"] = "Heyo";
}
<!-- Matthew Corbett Section 1 Mission 2 -->



    <!-- Center the body -->
    <center>
        <!-- Header -->
        <h1>Matt Corbett</h1>

        <!-- Hiking Image -->
        <img src="photos/hiking (2).jpg" />
        <br />
        <br />
        <!-- Summary Paragraph -->
        <p>
            I am hoping to take my ability to program and elevate it to the next level so that I am able to be employable. I feel like my current ability
            is that I could solve most basic problems and maybe a few complex ones, but I want to be confident in my ability to find and create elegant solutions
            to real world problems
        </p>
    </center>

    <!-- List of Potential Careers -->
    <ul>
        <li>Software Engineer - Maybe Mobile</li>
        <li>Data Scientist</li>
        <li>Data Analyst</li>
    </ul>
    <center>

        <!-- Grade Calculator form -->

    </center>
    <br /><br /><br />
